.navbar {background-color: #4d826c;}
.navbar-brand {color: wheat;}
.navbar-toggler {color: #4d826c;}
.navbar-nav {color: white;}
.chat-content { overflow-y: scroll; width: 80%; height: 400px; margin-left: 150px;}
.line { margin-top: 15px; display: column;}
.chat-box {padding: 5px; width:fit-content; margin-top:5px; margin-bottom: 5px;}
.mine {background-color: white; float:right; margin-right: 50px;}
.ai {background-color: whitesmoke; float:left; margin-left: 50px;}
.input-group {width:75%; float:bottom; margin:auto;}